In [2]:
#type conversion(explicit)
x=10
y=float(x)
print(type(y))

<class 'float'>

In [3]:
#type conversion (implicit)
x=10
y=10.5
result=x+y
print(type(result))

<class 'float'>

In [ ]:
product=input("Enter product name :")
Quantity=int(input("enter product quantity:"))
price=int(input("enter product price"))
total=Quantity*price
print(f"total price {product} is:",total)

Enter pruduct name : milk
enter product quantity: 5

In [ ]:
#control statement 
1)if
2)else 
3)elif

In [10]:
a=10
if a>15:
    print("hello")
else :
    print("bye")

bye

In [20]:
month=input("Enter month:")
if month=="december"or month=="january" or month=="fenbruary" :
    print("winter season")
elif month=="march" or month=="april" or month=="may" or month=="june":
    print("summer season")
elif month in ["july", "august", "septsember"]:  #this is using of list 
    print("Monsoon Season")
else :
    print("autumn")

Enter month: july

Monsoon Season

In [2]:
# a="name"
# b=int(a)
# print(type(b))
#we can not convert to "name" to integer 
c="12345"
d=int(c)
print(type(c))
#and we can change to "12346" to string

<class 'str'>

In [ ]:
#in use for searching
#is use for comparing

In [31]:
vehicle = input("Enter vehicle (car/bike): ")
buy_year = int(input("Enter buy year: "))

if vehicle == "car" and 2010 <= buy_year < 2025:
    print("Expire in 15 years")
elif vehicle == "bike" and 2015 <= buy_year < 2025:
    print("Expire in 10 years")
else:
    print("Not valid")

Enter vehicle (car/bike):  bike
Enter buy year:  2000

Not valid

In [ ]:
#loops
for
while (entry-controlled loop)

In [34]:
#while loop example
i = 1
while i<= 5:
    print(i)
    i+= 1

1
2
3
4
5